<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Thank You</title>
  </head>
  <body>
    <h2>Dear {{name}},</h2>
    <h3>Thank you for reaching out to me. I have received your message and will respond as soon as possible.
    </h3>
    <p>I understand that your time is valuable and appreciate the effort you made to contact me. I will review your message and provide a response as soon as possible. Depending on the complexity of your request, it may take some time to get back to you. 
    </p>
    <p>
      In the meantime, you can check my recent works on my
      <a href="https://www.aakashpanchal.com/works/" target="_blank">
        website.
      </a>
    </p>
    <p>
      Thank you again for your message.
    </p>
    <p>
      Best regards,
    </p>
    <p>
      Aakash Panchal
    </p>
  </body>
</html>